/build/
output/
neural-accelerator-*
*.pcap
*.o
*.out
*.exe

CMakeCache.txt
CMakeFiles/
CMakeScripts/
Makefile
cmake_install.cmake

lib/
bin/

*.log


*.bin


*.tmp
*.bak

.idea/
.vscode/
.DS_Store

*~
\#*\#